<div  id= 'protucte_main' ng-controller='productsController'>
	<div id = 'horzInputArea'	>
		<!-- <form> -->	
			<input class="horzInputItems" type="text" 
							ng-model="order_filter" placeholder="Product filter...">
		<!-- </form> -->
		<form>
			<h3  id=""><u>Add a New Product</u></h3>
			<!-- <div class='duplicateError' ng-if='newCustomer.isDuplicate'>Error: Duplicate name!</div> -->			
			<div ng-init="qunt_list =[1,2,3,4,5,6]">	  		
				<p>Name:</p>				
				<input class="horzInputItems" type="text" 
							ng-model="newProduct.name" placeholder="name...">
				<p>Image (url):</p>
				<input class="horzInputItems" type="text"   
								ng-model='newProduct.imagUrl' 
								placeholder="http://...">
				<p>Description:</p>
				<textarea  class='horzInputText'  ng-model='newProduct.description'
				rows="3" cols="27"  > <!-- form="myform" -->
				</textarea>

				<p>Init Quantity:</p>
				<select  class='horzInputItems' ng-model='newProduct.quantity' >
					<option  ng-repeat="qunt in qunt_list" value="{{qunt}}">
						{{qunt}}
					</option>
				</select>
				<input class='button greenbut' type='submit' value='Create' ng-click='addProduct()'>
			</div>   	
		</form>
	</div>			 
	<div id='prod_container'>
	<div class ='product_box'  
			 ng-repeat="product in productPage | filter: order_filter">				
		<!--  | orderBy:'created_at':true"> -->
			<img class='prodImage' ng-src="{{product.imagUrl}}" alt="url Image"/>
			<span ng-bind='product.name'></span><br>
			( <span ng-bind='product.quantity'></span> left)
			<!-- <span ng-bind='order.created_at | dateSuffix'></span>,    -->
			<span ng-bind='product.createdOn | date:"yyyy h:mm:ssa" '></span> 
		</div>	
		<a class='morePages' href="#/partialProducts" ng-click='nextProdPage()'>Show more...</a>
	</div>
	
</div>